body {
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #d48b71; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b8755f; 
}